@page "/game"
@inherits GameComponent
@inject IJSRuntime jsRuntime

@if (this.GameEngine.Tracker.HasAvailableJokers)
{
    <button class="btn btn-dark joker-btn" @onclick="@UseJoker">Use Joker</button>
}
<div class="lg-text text-dark text-center">Category: @CategoryName</div>
<div class="playing-word text-dark text-center">@GameEngine.PlayingWord</div>

<div class="d-flex justify-content-center flex-wrap w-75 mx-auto mt-5">
    @for (char i = 'A'; i <= 'Z'; i++)
    {
        char currentLetter = i;
        <div class="alphabet-letter text-dark" @onclick="@(async () => await Check(currentLetter))">@currentLetter</div>
    }
</div>