@page "/game"
@inherits GameComponent
@inject IJSRuntime jsRuntime

@if (this.GameEngine.Tracker.HasAvailableJokers)
{
    <button class="btn btn-dark joker-btn" @onclick="@UseJoker">Use Joker</button>
}
<div class="lg-text text-dark text-center">Category: @CategoryName</div>
<div class="playing-word text-dark text-center">@GameEngine.PlayingWord</div>


<div class="d-flex justify-content-center flex-wrap w-75 mx-auto mt-5">
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('a'))">A</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('b'))">B</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('c'))">C</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('d'))">D</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('e'))">E</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('f'))">F</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('g'))">G</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('h'))">H</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('i'))">I</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('j'))">G</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('k'))">K</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('l'))">L</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('m'))">M</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('n'))">N</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('o'))">O</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('p'))">P</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('q'))">Q</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('r'))">R</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('s'))">S</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('t'))">T</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('u'))">U</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('v'))">V</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('w'))">W</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('x'))">X</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('y'))">Y</div>
    <div class="alphabet-letter text-dark" @onclick="@(async () => await Check('z'))">Z</div>
</div>